
body {
    background-color: #89d6d9;
    width: 960px;
    padding: 20px;
    margin: auto;
}
#pocetak {
    background: #FFFFFF;
    padding: 20px;

}
.tbl, .tbl td, .tbl th {
    border: 1px solid #CCCC;
    background: #f5f4f2;
    margin-bottom: 10px;;
    

}
.tbl th {
    background: #ece7d7
}
.footer {
    background: #DDDDDD;
    padding: 10px auto;
}